<ion-header>
  <ion-toolbar>
    <ion-title>Chat Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let user of userEvent|async ">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label >{{user.name}}</ion-label>
    <ion-label >{{user.guid}}</ion-label>
  </ion-item>
  <ion-card *ngFor="let msg of messageEvent|async ">
    <ion-label>{{msg.context}}</ion-label>
    <ion-icon *ngIf="msg.exchanged" name="checkmark-circle-outline"></ion-icon>
  </ion-card>

  <ion-button (click)="getUsers()">Users</ion-button>

  <ion-label >Login Name</ion-label>
  <ion-input #loginInput  [(ngModel)]="currentUser.name"></ion-input>
  <ion-button (click)="login()">login in</ion-button>
  <ion-button (click)="loginOut()">login out</ion-button>

  <ion-label >Target User</ion-label>
  <ion-input [(ngModel)]="this.targetUserGuid"></ion-input>
  <ion-label >Mesasge</ion-label>
  <ion-input [(ngModel)]="this.currentInput"></ion-input>
  <ion-button (click)="sendMsg()">Send</ion-button>
</ion-content>