<ion-header>
  <ion-toolbar>
    <ion-title>
      Gift to you ,my love
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/image/happybirthday.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>献给亲爱的老公</ion-card-subtitle>
      <ion-card-title>28岁生日快乐!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>今天是我俩在一起的第六个生日了,很早就想送一个特别的礼物.</p>
      <p>这个想法萦绕了很久,终于在工作这一年之后慢慢成型,一点一点计划中选好了功能,在平常工作中摸鱼挤时间(还挺刺激的~),回家捣鼓之中逐渐完成</p>
      <p>它还很简单,没有什么花哨炫酷的效果,没有其他软件不能实现的功能,但从头到脚都是亲手打造</p>
      <p> 我会一直努力维护它,让它变得更好,就和你我一样</p>
      <p>希望你能喜欢</p>
      <p>我爱你,鑫</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Functions</ion-label>
    </ion-list-header>

    <ion-card>
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Birthday Gift</ion-card-subtitle>
        <ion-card-title>X&B的专属App</ion-card-title>
        <ion-icon slot="start" color="medium" name="film"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <p>一起经历的过往在完成这份礼物的过程里历历在目,翻看我们的照片的时候,每张照片代表的那一段旅程和经历,都会在脑海里一遍一遍的重现</p>
        <p>虽然身处两个时空,在这暖气未至的北京深秋,却也能感受到从心底传来的一阵阵的暖意</p>
        <p>所以我挑选了很多我们的照片放在了上面,当然今天主要都是寿星的 哈哈~</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Photo Gallery</ion-card-subtitle>
        <ion-card-title>照片里的回忆</ion-card-title>
        <ion-icon slot="start" color="medium" name="film"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <p>一起经历的过往在完成这份礼物的过程里历历在目,翻看我们的照片的时候,每张照片代表的那一段旅程和经历,都会在脑海里一遍一遍的重现</p>
        <p>虽然身处两个时空,在这暖气未至的北京深秋,却也能感受到从心底传来的一阵阵的暖意</p>
        <p>所以我挑选了很多我们的照片放在了上面,当然今天主要都是寿星的 哈哈~</p>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Distance & Location</ion-card-subtitle>
        <ion-card-title>4H & 6000Km</ion-card-title>
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
      </ion-card-header>
      <ion-card-content>

        <p>在一起的这两年半有一半时间都是身处两地,未来一年的时间里也会持续这样异国相爱的生活</p>
        <p>因为都渴望看一看这个世界,所以都不曾安定</p>
        <p>也因为相似,所以才能走到一起</p>
        <p>很开心遇到这样的你</p>
        <p>也基于此,做一个定位系统吧,打开软件登陆,能实时看到我俩的位置</p>
        <p>就像穿过几万公里的距离,看到对方一样</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Chat with you</ion-card-subtitle>
        <ion-card-title>专属聊天器!</ion-card-title>
        <ion-icon slot="start" color="medium" name="chatboxes"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <p>因为你现在在阿联酋,没法像以前一样简单的视频了</p>
        <p>起初是想做一个视频聊天功能,但后来发现需要的Azure云环境支持不了</p>
        <p>转而退其次,做了一个简单的消息聊天系统吧.</p>
        <p>虽然界面真的真的很简陋..但其实是花时间挑最多的..因为前后端的逻辑都很复杂 让我对聊天软件的开发者升起了敬畏之心..</p>
        <p>这是一个私密的聊天小机器,前端后端都在我自己布置的服务器上~</p>
        <p>希望能给我两带来一点点仪式感 </p>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <p>生日快乐 ,我的少年</p>

    </ion-item>
  </ion-list>
</ion-content>